---
import type { HTMLAttributes } from "astro/types";
import { getCollection } from "astro:content";

import { SITE_NAVIGATION } from "../../const";
import { icons } from "../../assets/globs";

import ImageLink from "../ImageLink.astro";
import NavLink from "./NavLink.astro";

interface Props extends HTMLAttributes<"nav"> {
  prev?: string;
  current: string;
}

const socialMedia = (await getCollection("socialMedia")).map((s) => s.data);
socialMedia.forEach((s) => {
  if (!icons[s.imagePath])
    throw new Error(`"${s.imagePath} does not exist in glob", ${icons}""`);
});

const props = Astro.props;
---

<nav-bar class:list={[props.class]} {...props}>
  <button
    class="sticky top-0 w-full z-50 p-4 text-4xl text-left bg-gradient-to-b from-cyan-900 to-transparent"
    >Navigation</button
  >
  <nav
    class:list={[
      "z-50 fixed inset-0 hidden flex flex-col justify-between p-4 bg-gradient-to-b from-cyan-900 to-transparent",
      props.class,
    ]}
    {...props}
  >
    <div>
      <div class="flex justify-between">
        <div class="text-4xl py-1">Navigation</div>
        <button id="mobile-nav-go-back-btn" class="text-3xl">X</button>
      </div>
      {SITE_NAVIGATION.map((link) => <NavLink {...link} />)}
    </div>
    <div class="flex gap-2 my-1">
      {
        socialMedia.map((s) => (
          <ImageLink
            src={icons[s.imagePath]()}
            href={s.href}
            alt={s.alt}
            width={64}
            height={64}
          />
        ))
      }
    </div>
  </nav>
</nav-bar>

<script>
  class Navbar extends HTMLElement {
    connectedCallback() {
      const dropdownButton = this.querySelector("button");
      const navigation = this.querySelector("nav");
      const navBackButton = this.querySelector("#mobile-nav-go-back-btn");

      function dropdown() {
        navigation?.classList.toggle("hidden");
        dropdownButton?.classList.toggle("hidden");
      }

      dropdownButton?.addEventListener("click", dropdown);
      navBackButton?.addEventListener("click", dropdown);
    }
  }

  customElements.define("nav-bar", Navbar);
</script>
