---
/**
 * Purpose: Represent a link in the navigation bar on the side
 *          Carries the link and its children.
 * Note: Uses only minimal JS to load in quickly
 */

import type { NavLinkType } from "../../types";

type Props = NavLinkType;

const { href, label, children } = Astro.props;
---

<nav-link class="block">
  <span class:list={["text-3xl sm:text-xl"]}>
    <a href={href}>{label}</a>
    {children && <button>⮟</button>}
  </span>
  {
    children && (
      <div class="hidden flex-col ml-4 text-2xl sm:text-lg">
        {children?.map((link) => (
          <a href={`${href}${link.href}`}>{link.label}</a>
        ))}
      </div>
    )
  }
</nav-link>

<script>
  class NavLink extends HTMLElement {
    connectedCallback() {
      const dropdownButton = this.querySelector("button");
      const childrenContainer = this.querySelector("div");

      dropdownButton?.addEventListener("click", () => {
        childrenContainer?.classList.toggle("hidden");
        childrenContainer?.classList.toggle("flex");
        dropdownButton.textContent = childrenContainer?.classList.contains(
          "hidden"
        )
          ? "⮟"
          : "⮝";
      });
    }
  }

  customElements.define("nav-link", NavLink);
</script>
