---
import type { HTMLAttributes } from "astro/types";
import type { ExperienceBadgeType } from "../types";

import ExperienceBadge from "./ExperienceBadge.astro";
import Section from "./Section.astro";

interface Props extends HTMLAttributes<"div"> {
  title?: string;
  src: Array<ExperienceBadgeType>;
  noPadding?: boolean | undefined;
  noMargin?: boolean | undefined;
  noRounded?: boolean | undefined;
}

const {
  class: className,
  title,
  src,
  noPadding,
  noMargin,
  noRounded,
} = Astro.props;
---

<Section noPadding={noPadding} noMargin={noMargin} noRounded={noRounded}>
  <h1 class="text-center mb-2">{title}</h1>
  <div
    class="flex flex-row flex-wrap justify-center items-stretch gap-4 w-full"
  >
    {
      src.map((badge) => (
        <ExperienceBadge
          title={badge.title}
          src={badge.src}
          alt={badge.alt}
          experience={badge.experience}
        />
      ))
    }
  </div>
</Section>
