---
import { Image } from "astro:assets";
import type { ExperienceBadgeType } from "../types";

import { icons } from "../assets/globs";

type Props = ExperienceBadgeType;

const { title, src, alt, experience } = Astro.props;
if (!icons[src]) throw new Error(`"${src} does not exist in glob", ${icons}`);
---

<div
  class="group relative flex flex-col gap-1 justify-around items-center size-32 bg-sky-900 p-4 rounded-md
          hover:scale-110 transition-transform"
>
  <div
    class="absolute left-0.5 top-2 opacity-50 leading-tight [writing-mode:vertical-lr]"
  >
    {title}
  </div>
  <Image
    class="flex-grow size-14 sm:size-18 md:size-20"
    src={icons[src]()}
    alt={alt}
    width={64}
    height={64}
    decoding="async"
    loading="lazy"
  />
  <div class="w-fit mx-auto p-1 text-center text-sm bg-sky-950 rounded-md">
    {experience}
  </div>
</div>
