---
import type { HTMLAttributes } from "astro/types";

import { SITE_NAVIGATION } from "../const";

type Props = HTMLAttributes<"footer">;

const props = Astro.props;
---

<footer
  class:list={["flex justify-end items-center gap-2 m-4", props.class]}
  {...props}
>
  <div class="flex flex-row justify-start items-start gap-2 flex-wrap">
    {
      SITE_NAVIGATION.map((nav) => (
        <div class="flex flex-col justify-center items-start flex-wrap p-2 bg-sky-900 bg-opacity-50 rounded-md">
          <a href={nav.href}>{nav.label}</a>
          {nav.children && (
            <div class="flex flex-row gap-2 flex-wrap text-sky-100">
              {nav.children.map((cnav) => (
                <a href={`${nav.href}${cnav.href}`} class="text-sm">
                  {cnav.label}
                </a>
              ))}
            </div>
          )}
        </div>
      ))
    }
  </div>
  <div class="text-sm text-center [writing-mode:vertical-rl]">Site Map</div>
</footer>
