---
import { getCollection } from "astro:content";

import ImageLink from "../components/ImageLink.astro";
import { SITE_NAVIGATION } from "../const";
import { icons } from "../assets/globs";

const socialMedia = await getCollection("socialMedia");
const socialMediaData = socialMedia.map((s) => s.data);

socialMediaData.forEach((s) => {
  if (!icons[s.imagePath])
    throw new Error(`"${s.imagePath} does not exist in glob", ${icons}""`);
});
---

<footer
  class="flex flex-col-reverse sm:flex-row justify-between p-4 m-4 bg-cyan-900 rounded-md"
>
  <!-- Site Map -->
  <div>
    <div class="text-center sm:text-start text-cyan-600 p-1">Site Map</div>
    <div class="flex flex-row gap-1 justify-start items-start flex-wrap">
      {
        SITE_NAVIGATION.map((nav) => (
          <div class="flex flex-col justify-center items-start gap-1 flex-wrap  p-1 rounded-md border-4 border-cyan-950">
            <a href={nav.href}>{nav.label}</a>
            {nav.children && (
              <div class="flex flex-row gap-2 text-cyan-100">
                {nav.children.map((cnav) => (
                  <a href={cnav.href} class="text-sm">
                    {cnav.label}
                  </a>
                ))}
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
  <!-- Credits and social media -->
  <div class="flex flex-col justify-center items-center m-2">
    <div class="text-sm text-center">Matthew Ubalde</div>
    <div class="flex gap-2 p-1 bg-cyan-950 rounded-md">
      {
        socialMediaData.map((s) => (
          <ImageLink
            src={icons[s.imagePath]()}
            href={s.href}
            alt={s.alt}
            width={36}
            height={36}
          />
        ))
      }
    </div>
  </div>
</footer>
