---
import type { HTMLAttributes } from "astro/types";
import type { ImageLinkType } from "../types";

import { Image } from "astro:assets";

interface Props extends HTMLAttributes<"a">, ImageLinkType {
  width?: number;
  height?: number;
}

const {
  src,
  width,
  height,
  href,
  alt,
  class: className,
  ...props
} = Astro.props;
---

<a class={className} href={href} target="_blank" rel="noreferrer" {...props}>
  <Image src={src} width={width} height={height} alt={alt ?? ""} />
</a>
