---
import { Image } from "astro:assets";
import type { HTMLAttributes } from "astro/types";
import type { ImageLinkType } from "../types";

interface Props extends HTMLAttributes<"img"> {
  link: ImageLinkType;
  width: number;
  height: number;
  // loading: string;
}

const { width, height, link, loading, ...props } = Astro.props;
---

<a href={link.href} target="_blank" rel="noreferrer" {...props}>
  <Image
    src={link.src}
    width={width}
    height={height}
    alt={link.alt}
    loading={loading}
  />
</a>
