---
import { Image } from "astro:assets";
import type { ProjectShowcaseType } from "../types";
import Section from "./Section.astro";

interface Props {
  src: ProjectShowcaseType;
}

const { src } = Astro.props;

import itchIoBadgeImage from "../assets/itch-io-badge.svg";
---

<div class="flex flex-row gap-8">
  <Section noMargin textContent class="w-2/3 h-fit my-auto content-center">
    <h2>{src.title}</h2>
    <p class="text-left">{src.description}</p>
    <a href={src.coverImage.href}>
      <Image
        class="m-2 mx-auto"
        src={itchIoBadgeImage}
        alt=`itch.io link to ${src.coverImage.href}`
        height={64}
      />
    </a>
  </Section>
  <Section noMargin class="flex-grow h-1/2">
    <Image
      src={src.coverImage.src}
      alt={src.coverImage.alt}
      width={1280}
      height={720}
    />
  </Section>
</div>
