---
import { Image } from "astro:assets";
import type { ProjectShowcase } from "../const";
import Section from "./Section.astro";

interface Props {
  src: ProjectShowcase;
}

const { src } = Astro.props;

import itchIoBadgeImage from "../assets/itch-io-badge.svg";
---

<div class="flex flex-row gap-4">
  <Section noMargin textContent class="w-1/4 h-fit my-auto content-center">
    <h2 class="text-left">{src.title}</h2>
    <p class="text-left">{src.description}</p>
    <a href={src.coverImage.href}>
      <Image
        class="mx-auto"
        src={itchIoBadgeImage}
        alt=`itch.io link to ${src.coverImage.href}`
        height={64}
      />
    </a>
  </Section>
  <Section noMargin class="flex justify-center items-center h-1/2 flex-grow">
    <Image
      class="w-2/3 h-1/2 object-cover"
      src={src.coverImage.src}
      alt={src.coverImage.alt}
      width={800}
      height={450}
    />
  </Section>
</div>
