---
import { Image } from "astro:assets";

import type { ProjectShowcaseType } from "../types";
import Section from "./Section.astro";
import ImageLink from "./ImageLink.astro";

type Props = ProjectShowcaseType;

const {
  title,
  description,
  coverImage,
  coverImageAlt,
  href,
  itchioLink,
  steamLink,
  githubLink,
} = Astro.props;

import itchioImage from "../assets/icons/itch-io.svg";
import steamImage from "../assets/icons/steam.svg";
import githubImage from "../assets/icons/github-mark.svg";
---

<div class="flex gap-2 justify-center items-center">
  <!-- Project about -->
  <div class="flex items-start gap-2">
    <Section noMargin noPadding class="flex flex-col gap-2 p-2 mt-4 min-w-fit">
      {
        itchioLink && (
          <ImageLink
            src={itchioImage}
            alt=""
            href={itchioLink}
            width={48}
            height={48}
          />
        )
      }
      {
        steamLink && (
          <ImageLink
            src={steamImage}
            alt=""
            href={steamLink}
            width={48}
            height={48}
          />
        )
      }
      {
        githubLink && (
          <ImageLink
            src={githubImage}
            alt=""
            href={githubLink}
            width={48}
            height={48}
          />
        )
      }
    </Section>
    <Section noMargin textContent class="flex-grow content-center">
      <h2>{title}</h2>
      <p>{description}</p>
      <a class="text-xl font-bold" href={href}>Read more...</a>
      <div class="flex justify-evenly"></div>
    </Section>
  </div>
  <!-- Image display -->
  <Section noMargin noPadding class="p-4">
    <Image
      class="rounded-md object-contain"
      src={coverImage}
      alt={coverImageAlt}
      width={1280}
      height={720}
    />
  </Section>
</div>
