---
import { Image } from "astro:assets";

import type { ProjectShowcaseType } from "../types";
import Section from "./Section.astro";
import ImageLink from "./ImageLink.astro";

type Props = ProjectShowcaseType;

const {
  title,
  description,
  coverImage,
  coverImageAlt,
  href,
  dateProjectPublished,
  itchioLink,
  steamLink,
  githubLink,
} = Astro.props;

import itchioImage from "../assets/icons/itch-io.svg";
import steamImage from "../assets/icons/steam.svg";
import githubImage from "../assets/icons/github-mark.svg";
import FormattedDate from "./FormattedDate.astro";
---

<Section noMargin noPadding class="group relative w-1/3" tabindex={0}>
  <div class="rounded-md overflow-hidden transition-all">
    <Image
      class="group-hover:scale-125 group-hover:-translate-y-4 rounded-md object-contain transition-all"
      src={coverImage}
      alt={coverImageAlt}
      width={1280}
      height={720}
    />
  </div>
  <div class="flex p-4">
    <div class="flex-grow">
      <h1>{title}</h1>
      {
        dateProjectPublished && (
          <div class="text-sm">
            <FormattedDate date={dateProjectPublished} />
          </div>
        )
      }
      <p>{description}</p>
      <a class="font-bold text-lg underline" href={href}>Read?</a>
    </div>
    {
      (itchioLink || steamLink || githubLink) && (
        <div class="flex flex-col gap-2 justify-end items-end w-24 p-1">
          {itchioLink && (
            <ImageLink
              src={itchioImage}
              alt=""
              href={itchioLink}
              width={48}
              height={48}
            />
          )}
          {steamLink && (
            <ImageLink
              src={steamImage}
              alt=""
              href={steamLink}
              width={48}
              height={48}
            />
          )}
          {githubLink && (
            <ImageLink
              src={githubImage}
              alt=""
              href={githubLink}
              width={48}
              height={48}
            />
          )}
        </div>
      )
    }
  </div>
</Section>

<!-- <div class="flex flex-col sm:flex-row gap-2 justify-center items-center">
  Project about
  <div
    class="flex flex-row-reverse sm:flex-row justify-center items-center gap-2"
  >
    <Section
      noMargin
      noPadding
      class="flex flex-col gap-2 p-2 sm:mt-4 min-w-16 sm:min-w-14"
    >
      {
        itchioLink && (
          <ImageLink
            src={itchioImage}
            alt=""
            href={itchioLink}
            width={64}
            height={64}
          />
        )
      }
      {
        steamLink && (
          <ImageLink
            src={steamImage}
            alt=""
            href={steamLink}
            width={64}
            height={64}
          />
        )
      }
      {
        githubLink && (
          <ImageLink
            src={githubImage}
            alt=""
            href={githubLink}
            width={64}
            height={64}
          />
        )
      }
    </Section>
    <Section noMargin textContent class="flex-grow content-center">
      <h2>{title}</h2>
      {
        dateProjectPublished && (
          <div class="text-sm">
            Published: <FormattedDate date={dateProjectPublished} />
          </div>
        )
      }
      <p>{description}</p>
      <a class="text-xl font-bold" href={href}>Read more...</a>
    </Section>
  </div>
  Image display
  <Section noMargin noPadding class="p-4">
    <Image
      class="rounded-md object-contain"
      src={coverImage}
      alt={coverImageAlt}
      width={1280}
      height={720}
    />
  </Section>
</div> -->
