---
import "../styles/article.css";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Section from "../components/Section.astro";
import ImageLink from "../components/ImageLink.astro";

import itchioImage from "../assets/icons/itch-io.svg";
import steamImage from "../assets/icons/steam.svg";
import githubImage from "../assets/icons/github-mark.svg";
import LayoutSection from "../components/LayoutSection.astro";

interface Props {
  prevNav: string;
  title: string;
  description: string;
  coverImage: ImageMetadata;
  coverImageAlt: string;
  summaryPoints: string[];
  dateProjectPublished: Date;
  dateUpdated?: Date;
  itchio?: string;
  steam?: string;
  github?: string;
}

const {
  prevNav,
  title,
  description,
  coverImage,
  coverImageAlt,
  summaryPoints,
  dateProjectPublished,
  dateUpdated,
  itchio,
  steam,
  github,
} = Astro.props;
---

<BaseLayout prevNav={prevNav} title={title} description={description}>
  <!-- Title Section -->
  <LayoutSection row>
    <Section
      noMargin
      noPadding
      class="group relative flex-shrink h-fit overflow-hidden"
    >
      <Image
        class="opacity-25 group-hover:scale-110 group-hover:opacity-100 transition-all"
        src={coverImage}
        alt={coverImageAlt}
        width="1280"
        height="720"
      />
      <div class="absolute bottom-0 inset-x-0 flex flex-row p-4">
        <div class="group-hover:opacity-0 transition-opacity">
          <h1>{title}</h1>
          <div class="text-sm">
            <span>
              Published: <FormattedDate date={dateProjectPublished} />
            </span> -
            {
              dateUpdated && (
                <span>
                  Updated: <FormattedDate date={dateUpdated} />
                </span>
              )
            }
          </div>
          <p>{description}</p>
        </div>
        <div class="flex-shrink flex flex-col justify-end items-end gap-2">
          {
            itchio && (
              <ImageLink
                src={itchioImage}
                alt=""
                href={itchio}
                width={48}
                height={48}
              />
            )
          }
          {
            steam && (
              <ImageLink
                src={steamImage}
                alt=""
                href={steam}
                width={48}
                height={48}
              />
            )
          }
          {
            github && (
              <ImageLink
                src={githubImage}
                alt=""
                href={github}
                width={48}
                height={48}
              />
            )
          }
        </div>
      </div>
    </Section>
    {
      summaryPoints && (
        <Section noMargin textContent>
          <h2>Summary Points</h2>
          <ul class="text-start">
            {summaryPoints.map((p) => (
              <li>{p}</li>
            ))}
          </ul>
        </Section>
      )
    }
  </LayoutSection>
  <!-- Article Content -->
  <Section articleContent>
    <slot />
  </Section>
</BaseLayout>
