---
import BaseLayout from "./BaseLayout.astro";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";

interface Props {
  prevNav: string;
  title: string;
  description: string;
  // Gotten this from the IntelliSense
  coverImage: {
    src: string;
    width: number;
    height: number;
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  coverImageAlt: string;
}

const { prevNav, title, description, coverImage, coverImageAlt } = Astro.props;
---

<BaseLayout prevNav={prevNav} title={title} description={description}>
  <main class="min-h-screen mx-auto">
    <Section textContent class="w-1/2 mx-auto">
      <h1>{title}</h1>
      <Image
        class="rounded-md"
        src={coverImage}
        alt={coverImageAlt}
        width="1280"
        height="720"
      />
      <p>{description}</p>
    </Section>
    <Section class="w-2/3 mx-auto">
      <slot />
    </Section>
  </main>
</BaseLayout>
