---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import BaseLayout from "./BaseLayout.astro";
import Section from "../components/Section.astro";

interface Props {
  prevNav: string;
  title: string;
  description: string;
  coverImage: ImageMetadata;
  coverImageAlt: string;
}

const { prevNav, title, description, coverImage, coverImageAlt } = Astro.props;
---

<BaseLayout prevNav={prevNav} title={title} description={description}>
  <main class="min-h-screen mx-auto">
    <Section textContent class="w-1/2 mx-auto">
      <h1>{title}</h1>
      <Image
        class="rounded-md"
        src={coverImage}
        alt={coverImageAlt}
        width="1280"
        height="720"
      />
      <p>{description}</p>
    </Section>
    <Section articleContent class="sm:w-2/3 sm:mx-auto">
      <slot />
    </Section>
  </main>
</BaseLayout>
