---
import { Image } from "astro:assets";
import BaseHead from "../components/Metadata/BaseHead.astro";
import ImageLink from "../components/ImageLink.astro";
import Section from "../components/Section.astro";

import { SITE_NAVIGATION } from "../const";
import socialMedia from "../data/socialMedia";
import type { NavigationTab } from "../const";
import NavLink from "../components/NavLink.astro";

const { linkedin, github } = socialMedia;

const pathname = Astro.url.pathname;
const currentPath = pathname;

interface Props {
  title: string;
  description: string;
  prevNav?: string;
}

const { title, description, prevNav } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Matthew Ubalde Portfolio | " + title}
      description={description}
    />
  </head>
  <body>
    <main class="flex h-screen w-screen">
      <aside
        class:list={[
          "group relative flex flex-col justify-start items-stretch",
          "h-full w-2/6 min-w-96 hover:-translate-x-96 transition-transform",
          " bg-black text-white z-40",
        ]}
      >
        <div
          class="flex flex-col justify-center items-start gap-4 h-full w-full px-2 bg-black"
        >
          <slot name="sidebar" />
        </div>
        <div
          class:list={[
            "absolute -right-96 h-full flex flex-col justify-center -z-10",
            "-translate-x-96 group-hover:translate-x-0 transition-transform",
          ]}
        >
          <NavLink
            class="group/navtitle font-light pl-2"
            href={currentPath !== "/" && "/"}
          >
            {
              currentPath !== "/" ? (
                <>
                  <span class="inline group-hover/navtitle:hidden">
                    Navigation
                  </span>
                  <span class="hidden group-hover/navtitle:inline">Home</span>
                </>
              ) : (
                <span>Navigation</span>
              )
            }
          </NavLink>
          {
            prevNav && (
              <NavLink class="pl-2" href={prevNav}>
                Go Back?
              </NavLink>
            )
          }
          {
            SITE_NAVIGATION.map(
              (nav) =>
                nav.href !== currentPath && (
                  <NavLink class="pl-8" href={nav.href}>
                    {nav.label}
                  </NavLink>
                )
            )
          }
        </div>
      </aside>
      <div class="relative h-full w-full z-10 overflow-hidden overflow-y-auto">
        <slot />
        <footer
          class="flex justify-center items-center gap-8 h-fit p-8 bg-black"
        >
          <span class="text-xl">Matthew Ubalde</span>
          <div class="flex gap-4">
            <ImageLink
              class="hover:scale-125 active:scale-95 transition-transform"
              link={linkedin}
              width={50}
              height={50}
            />
            <ImageLink
              class="hover:scale-125 active:scale-95 transition-transform"
              link={github}
              width={50}
              height={50}
            />
          </div>
        </footer>
      </div>
    </main>
  </body>
</html>
