---
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

import NavbarDesktop from "../components/Navbar/NavbarDesktop.astro";
import NavbarMobile from "../components/Navbar/NavbarMobile.astro";

const pathname = Astro.url.pathname;
const currentPath = pathname;

interface Props {
  prevNav?: string;
  title: string;
  description: string;
}

const { title, description, prevNav } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Matthew Ubalde | " + title} description={description} />
  </head>
  <body
    class="h-fit overflow-x-hidden bg-indigo-500 bg-gradient-to-b from-indigo-500 via-purple-400 to-indigo-500 text-cyan-50"
  >
    <NavbarMobile prev={prevNav} current={currentPath} class="md:hidden" />
    <div class="flex flex-row md:m-0">
      <NavbarDesktop
        prev={prevNav}
        current={currentPath}
        class="hidden md:block flex-shrink-0"
      />
      <div class="flex flex-col justify-between">
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
